body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(5, 131, 89);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 5vh;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    font-size: large;
    color: #016f32;
    background: goldenrod;
    border: none;
    padding: 20px 30px 20px 30px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}